{% extends 'teams/base.html' %}
{% block content %}
<div class="row justify-content-center pt-5">
    <div class="col-md-6 text-center">
        <div class="card p-5 shadow border-0">
            <h1 class="display-4 text-success">Password Set!</h1>
            <p class="lead mb-4">Your account is now fully active. You can log in with your email and the password you just created.</p>
            <a href="{% url 'login' %}" class="btn btn-primary px-5">Go to Login</a>
        </div>
    </div>
</div>
{% endblock %}
